 #clockContainer{
    position: relative;
    margin: auto;
    border: 2px solid red;
    height: 40vw;
    width: 40vw;
    background:url(clock.png) no-repeat ;
    background-size: 100%;
 }

 #hour,#minute,#second{
    position:absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
 }

 #hour{
        width: 2%;
    height: 28%;
    top: 23%;
    left: 49.1%;
    opacity: 0.8;
 }

  #minute{
          width: 1.5%;
    height: 36%;
    top: 15%;
    left: 49.1%;
    opacity: 0.8;
 }

  #second{
width: 1%;
    height: 40%;
    top: 11%;
    left: 49.1%;
    opacity: 0.8;
 }

 #name{
      position: absolute;
    top: 59%;
    left: 31%;
    font-size: 2.7vw;
 }